
.panel {
    box-shadow: 1px 1px 2px black;
}
.panel-body > .col-xs-3 {
    padding-left: 0;
}

.panel-body > .col-xs-3 > .thumbnail {
    margin-bottom:0;
}

.panel-body > .col-xs-9 > h2 {
    margin:0;
}

.panel-body > .col-xs-9 > h2 > a:hover {
    text-decoration: none;
}

.panel-body > .col-xs-9 > p {
    margin-top: 0;
}

.panel-body > .col-xs-9 {position: relative;}

.vote {
    font-size: 28px;
    position: absolute;
    right: 15px;
    bottom: 0;
}

.vote > a {
    text-decoration: none;
    color: #7f7f7f;
}

.vote > a:hover {color:#1d91e3;}

.pagination a {
    color: #1d91e3 !important;
}

.pagination a:hover{
    color:#0675c3 !important;
}